@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
 
}

.prose img {
  max-width: 50% !important;     /* responsive width */
  height: auto !important;        /* keep aspect ratio */
  margin: 1rem 0;      /* vertical spacing */
  /* optional rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
  display: block;      /* remove inline spacing */
}

